.plainmenu-item__dropdown-icon>*,
.megamenu-item__dropdown-icon>* {
    vertical-align: text-bottom;
}

.megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout,
.megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.megamenu.justify-items-left .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout,
.megamenu.justify-items-left .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: flex-start;
}

.megamenu.justify-items-center .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout,
.megamenu.justify-items-center .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: center;
}

.megamenu.justify-items-right .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout,
.megamenu.justify-items-right .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: flex-end;
}

.megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block,
.megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block {
    margin: 0 20px 0 0;
}

.megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout>.block-list-appender {
    margin-left: 20px;
}

.megamenu-item__dropdown-wrapper {
    position: absolute;
    top: 100%;
    height: 0;
    z-index: 10;
    overflow: hidden;
}

.megamenu-item__dropdown {
    width: 100%;
    padding: 10px;
    background: #fff;
}

.megamenu-item__dropdown-content {
    padding-left: 15px;
    padding-right: 15px;
}

.megamenu-item__dropdown-content>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block {
    max-width: 100%;
}

.megamenu-item.is-opened .megamenu-item__dropdown-wrapper {
    overflow: visible;
    height: auto;
}

.plainmenu-item__link a,
.megamenu-item__link a {
    display: flex;
    align-items: center;
}

.plainmenu-item .plainmenu-item__dropdown a {
    display: flex;
}

.megamenu.is-orientation-vertical .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    flex-direction: column;
    align-items: flex-start;
}

.megamenu.justify-items-left.is-orientation-vertical .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: flex-start;
}

.megamenu.justify-items-center.is-orientation-vertical .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: center;
}

.megamenu.justify-items-right.is-orientation-vertical .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: flex-end;
}

.megamenu.is-orientation-vertical .megamenu__content>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block {
    margin: 0;
}