.plainmenu-item-dropdown-icon>*,
.menu-item-dropdown-icon>* {
    vertical-align: text-bottom;
}

.megamenu.is-adjusting .menu-item {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.megamenu.justify-items-left>.megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: flex-start;
}

.megamenu.justify-items-center>.megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: center;
}

.megamenu.justify-items-right>.megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: flex-end;
}

.megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block {
    margin: 0 20px 0 0;
}

.megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout>.block-list-appender {
    margin-left: 20px;
}

.dropdown-wrapper.align-content {
    right: auto;
    left: -10px;
    width: fit-content;
    min-width: fit-content;
}

.dropdown {
    width: 100%;
    padding: 10px;
    background: #fff;
}

.menu-item.is-opened .dropdown-wrapper {
    overflow: visible;
    height: auto;
}

.plainmenu-item-link a,
.menu-item-link a {
    display: flex;
    align-items: center;
}

.plainmenu-item .plainmenu-item-dropdown a {
    display: flex;
}

.megamenu.is-orientation-vertical .megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    flex-direction: column;
    align-items: flex-start;
}

.megamenu.justify-items-left.is-orientation-vertical .megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: flex-start;
}

.megamenu.justify-items-center.is-orientation-vertical .megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: center;
}

.megamenu.justify-items-right.is-orientation-vertical .megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: flex-end;
}

.megamenu.is-orientation-vertical .megamenu-content>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block {
    margin: 0;
}